.landingPage-container {
    display: flex;
    height: 700px; 
  }

  .left, .right {
    flex: 1; 
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .download-btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ff8d00;
    background: transparent;
    color: #ff8d00;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .download-btn:hover {
    background: #ff8d00;
    color: #fff;
  }

  .right img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
  }